.header__topBar{
  background: $dark-grey ;

  .container{

    h1{
      display:inline-block;
      vertical-align: top;
      margin:0;
      font-size:1.8rem;
      color:$white;
      padding: 20px 10px;
    }
  }

}
