html{
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: $primary-font;
  color:$secondary-color;
  background: $background-body;
}

.container{
  width:$stepSize2;
  margin:0 auto;

  @media screen and (min-width:$stepSize1) and (max-width:$stepSize2)
  {
    width:$stepSize1;
  }

  @media screen and (max-width:$stepSize1)
  {
    width:100%;
  }
}
