$color:red;
$orange : #f26c4f;
$dark-grey : #373737;
$light-grey : #474747;
$background-body: #ebebeb;
$grey-text: #646464;



@font-face {
    font-family: 'nexa';
    src: url('nexa-bold.otf') format('otf')
        url('nexa-bold-webfont.woff2') format('woff2'),
         url('nexa-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'nexa';
    src: url('nexa-light.otf') format('otf'),
        url('nexa-light-webfont.woff2') format('woff2'),
         url('nexa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
